{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <h1>Edição de Funcionário</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{form | bootstrap}}
        <button class="btn btn-main" type="submit">Salvar</button>
    </form>
    <br>
    <br>
    <h2>Documentos</h2>
    
    {% if object and object.documento_set %}
        
        <ul>
            {% for documento in object.documento_set.all %}
            <li>
                <a href="{{documento.arquivo.url}}">{{documento.descricao}}</a><br>
            </li>
        {% endfor %}
        </ul>
            
    {% endif %}

    {% if object %}
        <a href="{% url 'create_documento' object.id %}" class="btn btn-success">Adicionar Documento</a>
    {% endif %}

    <h2>Banco de Horas</h2>
    
    {% if object and object.registrohoraextra_set %}
        
        <ul>
            {% for registro_hora in object.registrohoraextra_set.all %}
            <li>
                <a href="{% url 'update_hora_extra' registro_hora.id %}"><span> {{registro_hora.motivo}} | {{registro_hora.horas}}</span></a> <br>
            </li>
        {% endfor %}
        </ul>
            
    {% endif %}

    {% if object %}
     <h2>Total de Horas Extras: {{object.total_horas_extra}}</h2>

     <a href="{% url 'create_registro_hora_extra' %}" class="btn btn-info"> Adicionar Banco de Horas </a>
    {% endif %}   
        
    
{% endblock main %}
    