{% extends 'base.html' %}

{% block main %}
    <!-- <div class="row">
                    <div class="col-sm">
                        Uma de 3 colunas
                    </div>
                    <div class="col-sm">
                        
                        Olá {{ usuario.funcionario.nome }}
                        <ul>
                            <li><a href="{% url 'list_funcionarios' %}">Gerenciar Funcionários</a></li>
                            <li><a href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a></li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        {% if usuario.funcionario.empresa %}
                            <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id%}">Editar Empresa</a>
                        {% else %}
                            <a href="{% url 'create_empresa' %}">Criar Empresa</a>
                        {% endif %}
                    </div> -->

                     <br>
   <div class="row">
       <div class="col">
        <div class="card" style="width: 18rem;">
          <h2>
              <i class="fa fa-users" style="font-size:48px;color:blue"></i>
              <a href="{% url 'list_funcionarios' %}">Gerenciar Funcionários</a>
          </h2>
        </div>
      </div>

       <div class="col">
        <div class="card" style="width: 18rem;">
          <h2>
              <i class="fa fa-clock-o" style="font-size:48px;color:blue"></i>
              <a href="{% url 'list_hora_extra' %}">Banco de horas</a>
          </h2>
        </div>
      </div>

       <div class="col">
        <div class="card" style="width: 18rem;">

          <h2>
              <i class="fa fa-book" style="font-size:48px;color:blue"></i>
              <a href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a>
          </h2>
        </div>
      </div>
   </div>

                    <form action="{% url 'logout'%}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </div>               
                
{% endblock main %}
    